.columnGroup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-right: 3rem;
    padding-left: 3rem;
}

.rowGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5rem;
}

.centered {
    justify-content: center !important;
}

.buttonRow {
    justify-content: flex-end !important;
    width: 200rem;
}

.subMeshText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    color: white !important;
    width: 235rem !important;
}

.subMeshButtonWidth {
    width: 24rem;
}

.ButtonWidth {
    width: 28rem;
}

.rcColorField {
    height: 30rem !important; 
    width: 90rem !important;
}

.rcColorField > button {
    height: 30rem !important; 
    width: 90rem !important;
    padding-right: 1.5rem;
    opacity: 1 !important
}

.rcColorFieldInput {
    height: 25rem !important; 
    width: 90rem !important;
}

.nameFieldInput {
    height: 30rem !important; 
    width: 350rem !important;
}

.colorFieldWidth {
    width: 90rem !important;
}

.belowSwapButton {
    height: 37.5rem; 
}

.swapButtonWidth {
    width: 34rem; 
}

.inputHeight {
    height: 30rem; 
}

.invalidFieldInput {
    color: red !important;
}

.buttonWithText {
    position: absolute;
    width: 24rem;
    height: 24rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18rem;
    color: #f4f4f4;
}

.painterFieldInputTextSize {
    font-size: 14rem !important;
}

.SliderFieldWidth {
    width: 300rem;
}

.SliderFieldWidth > div {
    padding-top: 0!important;    
    padding-left: 0!important;    
    padding-right: 0!important;    
    padding-bottom: 0!important;
}

.dropdownText {
    color: white !important;
    font-size: 10rem;
}

.largeDropdownText {
    color: white !important;
    font-size: 14rem;
}