.columnGroup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10rem;
}

.rowGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5rem;
}

.rcColorField {
    height: 30rem !important; 
    width: 90rem !important;
}

.rcColorField > button {
    height: 30rem !important; 
    width: 90rem !important;
    padding-right: 1.5rem;
}

.rcColorFieldInput {
    height: 25rem !important; 
    width: 90rem !important;
}

.invalidFieldInput {
    color: red !important;
}

.buttonWithText {
    position: absolute;
    width: 24rem;
    height: 24rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18rem;
    color: #f4f4f4;
}

.painterFieldInputTextSize {
    font-size: 14rem !important;
}